* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.conteiner {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid purple;
    background-color: brown;
    margin: 0 3px;
    animation: circle 2s infinite;
}



@keyframes circle {
    0% {

        width: 200px;
        height: 200px;

    }

    50% {
        width: 50px;
        height: 50px;
        border: 50px solid white;
    }

    100% {
        width: 200px;
        height: 200px;
    }
}